#navbar .logo {
    float: none;
    text-align: center;
  }
  
  #navbar ul,
  #navbar ul li {
    float: none;
  }
  
  #navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
  }
  #showcase .showcase-content {
    padding: 0;
    text-align: center center;
    padding-top: 3.125rem;
  }
  #showcase .showcase-content h1 {
    text-align: center;
  }
  .info-img {
    width: 0
  }
  #home-info {
    height: 450px;
  }
  #home-info .info-img {
    display: none;
  }
  #home-info .info-content {
    float: none;
    width: 100%;
  }
  .box {
    float: none;
    width: 100%;
  }
  .l-heading {
    line-height: 50px;
  }
  .info-right  {
    display: none;
    width: 0;
    float: none;
  }
  .info-left {
    text-align: center;
    width: 100%;
    margin-left: 25%;
  }
  #testimonials {
    height: 1000px;
  }